@font-face {
    font-family:'Helvetica Neue';
    src: url('fonts/HelveticaNeueCyr-Medium.ttf');
}
@font-face{
    font-family:'Helvetica Neue Bold';
    src:url('fonts/HelveticaNeueCyr-Bold.ttf');
}
@font-face{
    font-family:'Helvertica Neue Thin';
    src:url('fonts/HelveticaNeueCyr-Thin.ttf');
}
* {
    padding:0;
    margin:0;
}
ul{
    list-style-type:none;
}

.container {
    width:1110px;
    margin:0 auto;
}
body{
    background:#1A1A1A;
}

/*-----header start-----*/

header .navigate {
    border-bottom: 2px solid rgba(255, 255, 255, 0.1);
    padding: 33px 0;
}
header .navigate .container{
    display:flex;
    align-items: center;
    
}
header .navigate ul{
    display:flex;
    gap: 45px;
}

header{
    background: linear-gradient(180deg, rgba(26, 26, 26, 0.0001) 100%, #1A1A1A 100%), linear-gradient(0deg, rgba(33, 33, 33, 0.5), rgba(33, 33, 33, 0.5)), url("images/placeholder.png") right no-repeat;
    border-radius: 6px;
    background-size:contain;
    height: 1080px;
}
.img-logo{
    background:url('images/Logo.png');
    height: 23.33px;
    width:25px;
    background-size:cover;
    margin-bottom: 6px;
    padding-right:0px;
}
.logo-text{
    background:url('images/HEALTHY\ SWITCHER.png');
    height: 10.46px;
    width: 173.16px;
    background-size:cover;
    padding-left:10px;
}
.li-menu{
    margin-left:600px;
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    color: #34C759;
    font-size:14px;
}
.navigate nav{
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    color: #FFFFFF;
}
.text-under-main{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: -0.2px;
    color: #FFFFFF;
    opacity: 0.7;
    font-family:'Helvertica Neue Thin';
    margin-top: 5px;
}
.main-text h1 {
    font-family:'Helvertica Neue Thin';
    font-size: 72px;
    align-items: center;
    text-align: center;
    font-size: 72px;
    line-height: 84px;
    text-align: center;
    letter-spacing: 0.1em;
    color: #FFFFFF;
    margin-top:115px;
}
.main-text h1 span{
    align-items: center;
    text-align: center;
    font-size: 72px;
    line-height: 84px;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: capitalize;
    color: #FFFFFF;
    margin-top:115px;
    font-family:'Helvetica Neue Bold';
}
.button{
    background: #34C759;
    border-radius: 43px;
    height: 72px;
    width: 220px;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    align-items: center;
    font-family:'Helvertica Neue Thin';
    text-align: center;
    letter-spacing: 0.2em;
    margin: 0 auto;
    margin-top:40px;
    display:block;
    border:0px;
}
.watch-icon{
    background:url('images/icons/ic_watch_later.png');
    background-size:cover;
    height: 26px;
    width: 26.11px;
    margin-left:95px;
    margin-bottom:13px;
}
.time1 p {
    font-family:'Helvertica Neue Thin';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    text-align: center;
    color: #FFFFFF;
}
.time2 p {
    font-family:'Helvertica Neue Thin';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    text-align: center;
    color: #FFFFFF;
}
.time3 p {
    font-family:'Helvertica Neue Thin';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    text-align: center;
    color: #FFFFFF;
}
.time1{
    height: 100px;
    width: 215px;
    margin-top: 70px;
    margin-right:119px;
}
.time2{
    height: 100px;
    width: 215px;
    margin-top: 70px;
    margin-right:150px;
}
.time3{
    height: 100px;
    width: 215px;
    margin-top: 70px;
}
.geo-icon{
    background:url('images/icons/ic_near_me.png');
    background-size:cover;
    height: 26px;
    width: 26px;
    margin-left:95px;
    margin-bottom:13px;
}
.telephone-icon{
    background:url('images/icons/ic_call.png');
    background-size:cover;
    height: 26px;
    width: 26px;
    margin-left:95px;
    margin-bottom:13px;
}
.info{
    display:flex;
    margin-left: 112px;
    margin-bottom: 161px;
}
/*-----header end----- */
/*-----main start----- */

.rectangle{
    background: #252525;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 6px;
    width: 1110px;
    height: 736px;
    margin-bottom:90px;
    margin-top: -200px;
}
.about{
    width:526px;
    height: 150px;
    align-items: center;
    text-align: center;
    margin-left:270px;
}
.img-about{
    background: url('images/ABOUT.png') no-repeat center center;
    width: 600px;
    height: 150px;
    padding: 45px 0;
    line-height: 150px;
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    letter-spacing: 0.2em;
    color: #D9D9D9;
}
.about p{
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 900;
    font-size: 100px;
    line-height: 150px;
    letter-spacing: 0.2em;
    color: #303030;
}
.rectangle-text{
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    text-align: center;
    color: #A6A6A6;
    margin-top:61px;
}
.rectangle-food{
    display:flex;
    margin-left:81px;
    margin-top:90px;
    align-items: center;
}
.arrow-left{
    background:url('images/icons/arrow.png') no-repeat center center;
    background:cover;
    width:26px;
    height: 26px;
}
.arrow-right{
    background:url('images/icons/arrow-right.png')no-repeat center center;
    background:cover;
    width:26px;
    height: 26px;
}
.first-photo{
    background:url('images/first\ photo.png');
    background-size:cover;
    width:350px;
    height: 270px;
    margin-right:34px;
    margin-left:78px;
}
.second-photo{
    background:url('images/second\ photo.png');
    background-size:cover;
    width:350px;
    height: 270px;
    margin-right: 78px;
}
.work-img{
    background: url('images/WORK.png') no-repeat center center;
    width: 400px;
    height: 90px;
    padding: 45px 0;
    line-height: 100px;
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    letter-spacing: 0.2em;
    color: #D9D9D9;
    margin-left:350px;
    text-align: center;
}
.green-line{
    background: #34C759;
    width:60px;
    height: 2px;
    margin: 0 auto;
    margin-bottom:60px;
}
.elements{
    display:flex;
}
.first-element{
    background: #34C759;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 6px;
    width:275px;
    height: 206px;
    margin-right: 30px;
    margin-left:25px;
}
.sec-element{
    background: #252525;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 6px;
    margin-right:30px;
    width:275px;
    height: 206px;
    margin-bottom:120px;
}
.black-main-text{
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    letter-spacing: -0.275px;
    text-transform: capitalize;
    color: #191919;
    margin: 24px 24px 24px 24px;
}
.black-line{
    background: #191919;
    width:60px;
    height: 2px;
    margin-left:24px;
}
.black-text{
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
    letter-spacing: -0.1625px;
    color: #191919;
    margin-left:24px;
    margin-top:24px;
}
.white-main-text{
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    letter-spacing: -0.275px;
    text-transform: capitalize;
    color: #FFFFFF;
    margin:24px;
}
.white-text{
    font-family: 'Helvertica Neue Thin';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
    letter-spacing: -0.1625px;
    color: rgba(255, 255, 255, 0.5);
    margin-left:24px;
}
.green-line1{
    margin-top:24px;
    margin-bottom:24px;
    background: #34C759;
    height: 2px;
    width:60px;
    margin-left:24px;
}
.dishes{
    background: url('images/DISHES.png') no-repeat center center;
    width: 600px;
    height: 150px;
    padding: 20px 0;
    line-height: 150px;
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    letter-spacing: 0.2em;
    color: #D9D9D9;
    margin: 0 auto;
    text-align:center;
}
.element1{
    background: #252525;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 6px;
    width:350px;
    height: 493px;
}

.featured-meal{
    background:url('images/first-image.png');
    background-size:cover;
    width:350px;
    height: 260px;
}
.main-main-text{
    margin: 30px 0px 0px 30px;
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 30px;
    color: #D9D9D9;
}
.text-under-main1{
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: -0.15px;
    color: #A4A8B2;
    margin-bottom:20px;
    margin-left:30px;
    margin-top:2px;
}
.text-under-under{
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
    letter-spacing: -0.1625px;
    color: #85878C;
    margin-bottom:28px;
    margin-left:30px;
}
.stars{
    background:url('images/stars.png');
    background-size:cover;
    width:155px;
    height: 30px;
    margin-left:28px;
}
.button-order{
    background: #34C759;
    width:100px;
    height: 40px;
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 900;
    font-size: 10px;
    line-height: 40px;
    text-align: center;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #252525;
    border:0;
    margin-left:43px;
    border-radius: 60px;
}
.under{
    display:flex;
}
.dish-of-the-day{
    display:flex;
    gap:30px;
    margin-bottom:30px;
}
.featured-meal2{
    background:url('images/second-image.png');
    background-size:cover;
    width:350px;
    height: 260px;
}
.featured-meal3{
    background:url('images/third-image.png');
    background-size:cover;
    width:350px;
    height: 260px;
}
.stars1{
    background:url('images/stars-gray.png');
    background-size:cover;
    width:155px;
    height: 30px;
    margin-left:28px;
}
.button-order1{
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 900;
    font-size: 10px;
    line-height: 40px;
    text-align: center;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.5);
    background: #262626;
    border: 2px solid #303030;
    border-radius: 30px;
    margin-left:43px;
    width:100px;
    height: 40px;
}
.featured-meal4{
    background:url('images/fourth-image.png');
    background-size:cover;
    width:350px;
    height: 260px;
}
.featured-meal5{
    background:url('images/fiveth-image.png');
    background-size:cover;
    width:350px;
    height: 260px;
}
.featured-meal6{
    background:url('images/sixth-image.png');
    background-size:cover;
    width:350px;
    height: 260px;
}
.chefs{
    background: url('images/CHEFS.png') no-repeat center center;
    width: 600px;
    height: 150px;
    padding: 0px 0;
    line-height: 150px;
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    letter-spacing: 0.2em;
    color: #D9D9D9;
    text-align:center;
    margin: 0 auto;
}
.Gregory{
    display:flex;
}
.avatar{
    background:url('images/Chefs/Avatar.png');
    background-size:cover;
    width:65px;
    height:65px;
    margin-right: 24px;
    margin-bottom: 24px;
}
.main-avatar-text{
    margin-top:10px;
    font-family:'Helvertica Neue Thin';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: -0.225px;
    color: #FFFFFF;
}
.main-avatar-text span{
    font-family:'Helvertica Neue Thin';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: -0.15px;
    color: rgba(255, 255, 255, 0.5);
}
.avatar1{
    background:url('images/Chefs/Avatar-1.png');
    background-size:cover;
    width:65px;
    height: 65px;
    margin-right: 24px;
}
.avatar2{
    background:url('images/Chefs/Avatar-2.png');
    background-size:cover;
    width:65px;
    height: 65px;
    margin-right: 24px;
}
.cheffs{
    display:flex;
    gap:185px;
}
.big-img{
    background:url('images/Chefs/big\ img.png');
    background-size:cover;
    width:160px;
    height: 65px;
}
.big-img1{
    background:url('images/Chefs/big\ img-1.png');
    background-size:cover;
    width:160px;
    height: 65px;
}
.big-img2{
    background:url('images/Chefs/big\ img-2.png');
    background-size:cover;
    width:160px;
    height: 65px;
}
.def-img{
    background:url('images/Chefs/img\ 2.png');
    background-size:cover;
    width:65px;
    height:65px;
}
.def-img1{
    background:url('images/Chefs/img\ 3.png');
    background-size:cover;
    width:65px;
    height:65px;
}
.def-img2{
    background:url('images/Chefs/img\ 2-1.png');
    background-size:cover;
    width:65px;
    height:65px;
}
.def-img3{
    background:url('images/Chefs/img\ 3-1.png');
    background-size:cover;
    width:65px;
    height:65px;
}
.def-img4{
    background:url('images/Chefs/img\ 2-2.png');
    background-size:cover;
    width:65px;
    height:65px;
}
.def-img5{
    background:url('images/Chefs/img\ 3-2.png');
    background-size:cover;
    width:65px;
    height:65px;
    margin-bottom:91px;
}
.big-images{
    display:flex;
    gap: 30px;
}
.recipes{
    background: url('images/Recipes.png') no-repeat center center;
    width: 600px;
    height: 150px;
    padding: 0px 0;
    line-height: 150px;
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    letter-spacing: 0.2em;
    color: #D9D9D9;
    text-align:center;
    margin: 0 auto;
}
.breakfast{
    width:540px;
    height: 510px;
    background: linear-gradient(180deg, rgba(38, 38, 38, 0.0001) 0%, rgba(38, 38, 38, 0.5) 100%), url(Image.png);
    border-radius: 6px;
    background:url('images/breakfast.png');
    background-size:cover;
    text-align: center;
    margin-bottom: 90px;
}
.marginforbreakfast{
    height: 20px;
    width: 20px;
}
.arrow{
    background:url('images/icons/icon.png');
    background-size:cover;
    width:20.8px;
    height: 20.8px;
    margin-left:480px;
    display:block;
    margin-top:20px;
}
.cute-button{
    margin:0 auto;
    background: rgba(0, 0, 0, 0.5);;
    mix-blend-mode: normal;
    opacity: 0.5;
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 900;
    font-size: 10px;
    line-height: 25px;
    text-align: center;
    letter-spacing: 1.25px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-top:5px;
    margin-bottom:65px;
    border-radius:5px;
    border:0;
}
.breakfast-text{
    font-family:'Helvertica Neue Thin';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 30px;
    color: #FFFFFF;
    margin-bottom:25px;
}
.breakfast-main-text{
    font-family:'Helvertica Neue Thin';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 40px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom:45px;
}
.breakfast-footer{
    background:url('images/icons/footer.png');
    background-size:cover;
    width:140px;
    height: 30px;
    margin:0 auto;
    margin-top:37px;
}
.rectangle1{
    background: #252525;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 6px;
    width:540px;
    height: 150px;
    margin-bottom:30px;
    margin-left:30px;
}
.rectangle2{
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 6px;
    width:540px;
    height: 150px;
    margin-bottom:30px;
    margin-left:30px;
    background:url('images/background-rectangle.png');
}
.rectangle3{
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 6px;
    width:540px;
    height: 150px;
    margin-bottom:30px;
    margin-left:30px;
    background: #34C759;
}
.footer-block{
    display:flex;
    margin-top:10px;
}
.footer-button{
    background: #000000;
    mix-blend-mode: normal;
    opacity: 0.3;
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 900;
    font-size: 10px;
    line-height: 25px;
    text-align: center;
    letter-spacing: 1.25px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-left:28px;
    border:0;
    border-radius:6px;
    width:65px;
    height: 25px;
}
.main-text-rectangle{
    font-family:'Helvertica Neue Thin';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    color: #FFFFFF;
    margin-left:30px;
    margin-top:10px;
}
.big-div{
    display:inline-block;
}
.recipess{
    display:flex;
}
.footer-text{
    font-family:'Helvertica Neue Thin';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 25px;
    color: #B3B3B3;
    margin-left:15px;
}
.footer-icon{
    background:url('images/icons/footer.png');
    background-size:cover;
    height: 30px;
    width:139px;
    margin-left: 200px;
}
.main-text-rectangle1{
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    color: #252525;
    margin-left:30px;
    margin-top:10px;
}
.footer-button1{
    background: #000000;
    mix-blend-mode: normal;
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 900;
    font-size: 10px;
    line-height: 25px;
    text-align: center;
    letter-spacing: 1.25px;
    text-transform: uppercase;
    color: #FFFFFF;
    border-radius:6px;
    margin-left:28px;
    border:0;
    width:65px;
    height: 25px;
}
.footer-text1{
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 25px;
    color: #1A1A1A;
    margin-left:15px;
}
.footer-icon1{
    background:url('images/icons/visibility.png');
    background-size:cover;
    width:61px;
    height: 30px;
    margin-left:200px;
}
.footer-icon2{
    background:url('images/icons/comments.png');
    background-size:cover;
    width:54px;
    height: 30px;
    margin-left:26px;
}
.social{
    background: url('images/SOCIAL.png') no-repeat center center;
    width: 600px;
    height: 150px;
    padding: 0px 0;
    line-height: 150px;
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    letter-spacing: 0.2em;
    color: #D9D9D9;
    text-align:center;
    margin: 0 auto;
}
.sociall{
    display:flex;
    gap:30px;
}
.twitter{
    background: #252525;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 6px;
    height: 330px;
    width:360px;
    margin-bottom:120px;
}
.header-twitter{
    display:flex;
    margin-top:25px;
    padding-bottom:23px;
    border-bottom: #303030 solid 2px;
}
.twitter-icon{
    background:url('images/icons/Twitter.png');
    width:40px;
    height: 40px;
    background-size:cover;
    margin-left:25px;
    margin-right:20px;
}
.header-text-twitter{
    font-family:'Helvertica Neue Thin';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 30px;
    color: #BFBFBF;
    text-align:center;
    margin-top:5px;
}
.twitter-button{
    background: #262626;
    border: 2px solid #303030;
    border-radius: 30px;
    font-family: 'Helvetica Neue';
    font-style: normal;
    font-weight: 900;
    font-size: 10px;
    line-height: 40px;
    text-align: center;
    text-transform: uppercase;
    color: #737373;
    margin-left:125px;
    width:100px;
    height: 40px;

}
.instagram{
    background: #252525;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 6px;
    height: 330px;
    width:360px;
    margin-bottom:120px;
}
.facebook{
    background: #252525;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 6px;
    height: 330px;
    width:360px;
    margin-bottom:120px;
}
.inst-icon{
    background:url('images/icons/Instagram.png');
    background-size:cover;
    width:40px;
    height: 40px;
}
.face-icon{
    background:url('images/icons/Facebook.png');
    background-size:cover;
    width:40px;
    height: 40px;
}
/*-----main end-----*/